img{
    width: 300px;
}

main{
    /* display: grid; */
    /* align-items: center; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main>p {
    grid-column: auto / span 2;
}

/* if screen width < 600px */
/* desktop first */
@media only screen and (max-width: 600px){  
    main{
        grid-template-columns: 1fr;
    }

}

/* if screen width > 1000px */
/* mobile first */
@media only screen and (min-width: 1000px){
    
}